# -----------------------------------------------------------------------
# Test using redbot.org
# -----------------------------------------------------------------------

# -----------------------------------------------------------------------
# Re-direct to algs because there isn't a proper home page (yet)
# -----------------------------------------------------------------------
Redirect 307 /index.html http://logiqx.github.io/cubing-algs/
